<header>
  <h1 class="title">{{title}}</h1>
</header>
<main class="main">
  <section class="sideNav">
    <div class="item">
      <mat-icon class="icon">home</mat-icon>
      <p>Description Goes Here</p>
    </div>
    <div class="item">
      <mat-icon class="icon">home</mat-icon>
      <p>Description Goes Here</p>
    </div>
    <div class="item">
      <mat-icon class="icon">home</mat-icon>
      <p>Description Goes Here</p>
    </div>
  </section>
  
  <section class="content">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <mat-form-field>
        <mat-label>New Intro Item</mat-label>
        <input matInput placeholder="Remeber to use strong language" name="first" ngModel>
      </mat-form-field>
      <button>Submit</button>
    </form>
  </section>
</main>

<h1 class="title">{{title}}</h1>
<input type="text" placeholder="New Intro Line" [(ngModel)]="newItem">
{{newItem}}
<mat-icon>add_box</mat-icon>
<mat-icon>home</mat-icon> 
<br>
<br>
<mat-divider></mat-divider> 
1
<br>
<br>
<mat-icon>history_edu</mat-icon>
<mat-icon>school</mat-icon>
<mat-icon>collections_bookmark</mat-icon>
<mat-icon>edit_square</mat-icon>
Credibility 
<br>
<br>
<br>
<mat-divider></mat-divider>  
2
<br>
<br>
Purposful Focus 
<br>
<br>
<br>
<mat-divider></mat-divider> 
3
<br>
<br>
Contribution / Experience
<br>
<br>
<br>
<mat-divider></mat-divider>
