<header class="header">
  <img class="logo" src="assets/logo.png" alt="{{ title }}" />
  <mat-icon class="icon">menu</mat-icon>
</header>

<main>
  <section class="lane">
    <div class="laneTitle credibility">
      <div class="top">
        <span class="laneNumber">1</span>
        <mat-icon class="icon info">info_outline</mat-icon>
      </div>
      <mat-icon class="icon large">history_edu</mat-icon>
      <p class="laneDescription">Credibility</p>
    </div>
    <div class="laneContent">
      <ul class="laneCards">
        <li *ngFor="let card of credibilities">
          <mat-card>
            <mat-card-content> CONTENT {{ card }}</mat-card-content>
          </mat-card>
        </li>
      </ul>
    </div>
  </section>

  <section class="lane">
    <div class="laneTitle focus">
      <div class="top">
        <span class="laneNumber">2</span>
        <mat-icon class="icon info">info_outline</mat-icon>
      </div>
      <mat-icon class="icon large">ads_click</mat-icon>
      <p class="laneDescription">Purposful Focus</p>
    </div>
    <div class="laneContent">
      <ul class="laneCards">
        <li *ngFor="let card of focuses">
          <mat-card>
            <mat-card-content> CONTENT {{ card }}</mat-card-content>
          </mat-card>
        </li>
      </ul>
    </div>
  </section>

  <section class="lane">
    <div class="laneTitle contribution">
      <div class="top">
        <span class="laneNumber">3</span>
        <mat-icon class="icon info">info_outline</mat-icon>
      </div>
      <mat-icon class="icon large" fontSet="material-symbols-outlined"
        >monitoring</mat-icon
      >
      <p class="laneDescription">Contribution & Experience</p>
    </div>
    <div class="laneContent">
      <ul class="laneCards">
        <li *ngFor="let card of contributions">
          <mat-card>
            <mat-card-content> CONTENT {{ card }}</mat-card-content>
          </mat-card>
        </li>
      </ul>
    </div>
  </section>
</main>
<div class="graveyard">
  <section class="content">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <mat-form-field>
        <mat-label>New Intro Item</mat-label>
        <input
          matInput
          placeholder="Remeber to use strong language"
          name="first"
          ngModel
        />
      </mat-form-field>
      <button>Submit</button>
    </form>

    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
  </section>

  <mat-icon class="icon">insights</mat-icon>
  <mat-icon class="icon">auto_awesome</mat-icon>
</div>
