.header {
  text-align: center;

  .logo {
    height: 150px;
    margin-top: 24px;
  }

  .icon {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.lane {
  display: grid;
  gap: 8px 8px;
  grid-auto-rows: 250px;
  grid-template-columns: 1fr 2fr;

  &:not(:last-of-type) {
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  &Title {
    border-radius: 12px;
    padding: 8px 0;
    text-align: center;

    &.credibility {
      background: #f1e2be;
      color: #f2c864;
    }

    &.focus {
      background: #ecc6bf;
      color: #f48676;
    }

    &.contribution {
      background: #a7c3c4;
      color: #6d9496;
    }

    .top {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
    }
  }

  &Number {
    font-weight: 900;
  }

  &Description {
    color: #0b4251;
    font-size: 20px;
  }

  &Content {
    font-size: 20px;
  }

  &Cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;

    li {
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }

  .icon {
    &.info {
      color: #0b4251;
    }

    &.large {
      font-size: 100px;
      height: 100px;
      width: 100px;
    }
  }
}

.graveyard {
  display: none;
}
