.title {
  color: #0b4251;
}

.lane {
  border-right: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px 8px;
  grid-auto-rows: max-content;

  &Title {
    text-align: center;
    padding: 8px 0;
    background: #f1e2be;
    border-radius: 12px;
    margin-bottom: 8px;

    &.focus {
      background: #ecc6bf;

      .icon {
        color: #f48676;
      }
    }

    &.contribution {
      background: #a7c3c4;

      .icon,
      .top p {
        color: #6d9496;
      }
    }

    &.contribution {
      background: #a7c3c4;

      .icon,
      .top p {
        color: #6d9496;
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      align-items: center;

      p {
        color: #f2c864;
        font-weight: 900;
      }

      .icon {
        color: #0b4251;
      }
    }

    .description {
      color: #0b4251;
    }
  }

  &Content {
    font-size: 20px;
  }

  .icon {
    color: #f2c864;

    &.large {
      font-size: 100px;
      height: 100px;
      width: 100px;
    }
  }
}

.content {
  flex: 2 0 auto;
}

.graveyard {
  display: none;
}
